{% extends "admin/base_site.html" %}  <!-- Используем базовый шаблон Jazzmin -->

{% block title %}Таблицы{% endblock %}

{% block content %}
<div class="container py-5">
    <h1 class="py-4">Таблицы</h1>
    <hr class="my-5">
    <h3 class="py-4">Пользователи</h3>
    <div style="max-height: 500px; overflow-y: auto;">  
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>ID Пользователя</th>
                    <th>UUID</th>
                    <th>Логин</th>
                    <th>Ончейн адрес</th>
                    <th>Название роли</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users_with_roles %}
                <tr>
                    <td>{{ user.0 }}</td>
                    <td>{{ user.1 }}</td>
                    <td>{{ user.2 }}</td>
                    <td>{{ user.3 }}</td>
                    <td>{{ user.4 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <hr class="my-5">
    <h3 class="py-4">Товары</h3>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID Товара</th>
                <th>Название</th>
                <th>Ончейн адрес</th>
                <th>Адрес владельца</th>
                <th>Тип продукта</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products_with_types %}
            <tr>
                <td>{{ product.0 }}</td>
                <td>{{ product.1 }}</td>
                <td>{{ product.2 }}</td>
                <td>{{ product.3 }}</td>
                <td>{{ product.4 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <hr class="my-5">
    <h3 class="py-4">Транзакции</h3>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID Транзакции</th>
                <th>Хэш Транзакции</th>
                <th>ID Смарт Контракта </th>
                <th>Тип Транзакции</th>
                <th>ID Товара</th>
                <th>Дата Транзакции</th>
                <th>Адрес Владельца</th>
                <th>Адрес получателя</th>
                <th>Адрес Смарт Контракта</th>
                <th>Название Товара</th>
            </tr>
        </thead>
        <tbody>
            {% for tx in txs %}
            <tr>
                <td>{{ tx.0 }}</td>
                <td>{{ tx.1 }}</td>
                <td>{{ tx.2 }}</td>
                <td>{{ tx.3 }}</td>
                <td>{{ tx.4 }}</td>
                <td>{{ tx.5 }}</td>
                <td>{{ tx.6 }}</td>
                <td>{{ tx.7 }}</td>
                <td>{{ tx.78}}</td>
                <td>{{ tx.9 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


</div>

{% endblock %}